<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 这是mybatis的核心配置文件，这里采取的是官网的简单做法 -->
<configuration>

    <!--属性定义，之后便可以被其它地方引用，语法：${}-->
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="username" value="test"/>
        <property name="password" value="123"/>
    </properties>

    <!--别名定义-->
    <typeAliases>
        <typeAlias type="com.miaxis.entity.Single" alias="Single"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--用来引入mapper路径或者映射器接口-->
    <mappers>
        <!--相对于类路径，即这里的src/main/resources-->

        <!--1. 使用相对于类路径的资源引用-->
        <mapper resource="config/BlogMapper.xml"/>
        <mapper resource="config/AuthorMapper.xml"/>
        <mapper resource="config/BlogChildMapper.xml"/>
        <mapper resource="config/SingleMapper.xml"/>

        <!--2. 使用映射器接口实现类的完全限定类名 -->
        <!--<mapper class="xxx"/>-->

        <!--3. 将包内的映射器接口实现全部注册为映射器，即此包下的所有接口都会被自动注册，是上述2的简化写法，不适应于mapper文件的引入 -->
        <!--<package name="com.xxx"/>-->

    </mappers>

</configuration>